.pane {
    -fx-background-image: url("../imagenes/fondo.jpg");
    -fx-background-position: center;
    -fx-background-size: cover;
}

.menubar {
    -fx-background-color: rgba(255,255,255,0.2);
}

.modo {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-text-fill: black;
    -fx-text-alignment: center;
    -fx-background-color: rgba(255,255,255,0.2);
}

.opciones {
    -fx-border-width: 8px;
    -fx-border-insets: 5;
    -fx-border-style: outset;
    -fx-border-image-width: 2px;
    -fx-border-color: linear-gradient(to left, #743ad5, #d53a9d);;
}
